name: JavaScript Operators Demo

on: [push]

jobs:
  run-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Run JavaScript file
        run: node operators.js
